.audience-item {
  clip-path: circle(36%);
  width: 12vw;
  height: 12vw;
  max-width: 100px;
  max-height: 100px;
  background-color: #f9f9fa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.audience-item--selected {
  background-color: #ff1ad9;
  order: -1;
}

.audience-item__video {
  width: 0;
  height: 0;
}

.audience-item__icon {
  clip-path: circle(36%);
  width: 11vw;
  height: 11vw;
  max-width: 90px;
  max-height: 90px;
}
